<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h4>Dear  {{patientName}}</h4>
  <p>You have been registered at  {{branchName}}. </p>
  <p>You can check your Reports and Orders at {{patientLoginPortalUrl}}</p>
  <p>Username: {{patientEmail}} </p>
  <p>Password: {{password}} </p>
  <p>You can also change your password from profile section. </p> 
  <p>Regards, </p>
  <p>{{branchName}}</p>
  <p>{{designation}}</p>
  <img src={{SignatureOfAdminStrator}}>
</body>
</html>